.header {

	// .header__top

	&__top {
		min-height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $color-gray-light;
	}

	// .header__body

	&__body {
		display: flex;
		justify-content: space-between;
	}

	// .header__menu

	&__menu {
		margin-left: auto;
	}

	// .header__actions

	&__actions {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	// .header__login

	&__login {
		display: inline-block;
		min-width: 100px;
		min-height: 40px;
		padding: 10px 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: start;
		text-align: center;
		background-color: $color-brand-1;
		color: $color-white;
		font-weight: 600;
		@include default-transition(background-color);

		@media (max-width:$breakpoint480) {
			min-width: 70px;
		}

		&:hover {
			background-color: $color-hover-2;
		}

	}

	// .header__search

	&__search {}

	// .header__cart

	&__cart {}
}

.header-top {


	// .header-top__container

	&__container {
		width: 100%;
		padding: 5px 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}

	// .header-top__info

	&__info {
		display: flex;
		align-items: center;
		font-size: 13px;
		font-weight: 500;

		&>*:not(:last-child) {
			margin-right: 30px;

			@media (max-width: $breakpoint768) {
				margin-right: 10px;
			}
		}
	}

	// .header-top__location
	// .header-top__email

	&__location,
	&__email {
		display: flex;
		align-items: center;

		&::before {
			margin-right: 8px;
			font-size: 16px;
			color: $color-brand-1;
			@include default-transition(color);

			@media (max-width: $breakpoint768) {
				padding: 10px;
				margin-right: 0;
			}
		}

		&:hover::before {
			color: $color-hover-2;
		}

		span {
			@media (max-width: $breakpoint768) {
				display: none;
			}
		}
	}

	// .header-top__options

	&__options {
		display: flex;
		gap: 30px;
	}

	// .header-top__lang-menu

	&__lang-menu {}

	// .header-top__socials

	&__socials {
		display: flex;
		gap: 20px;

		@media (max-width: $breakpoint480) {
			display: none;
		}
	}

	// .header-top__social

	&__social {
		display: flex;
		align-items: center;

		&::before {
			font-size: 16px;
			color: $color-gray-neutral;
			@include default-transition(color);
		}

		&:hover::before {
			color: $color-hover-1;
		}
	}

	//.header-top__logo

	&__logo {
		display: none;
		align-items: center;

		img {
			width: 100%;
		}

		@media (max-width: $breakpoint480) {
			display: flex;
		}
	}
}

.lang-menu {

	position: relative;

	// .lang-menu__selected-lang

	&__selected-lang {
		padding: 10px 0;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		font-size: 13px;
		cursor: pointer;

		&::before {
			margin-left: 4px;
			font-size: 10px;
			color: $color-brand-1;
			@include default-transition(transform);
		}
	}

	&:hover>&__selected-lang::before {
		transform: rotate(180deg);
	}

	// .lang-menu__list

	&__list {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 50px;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 2px 2px 6px $color-box-shadow;
		display: flex;
		flex-direction: column;
		gap: 5px;
		background-color: $color-white;
		z-index: 5;
		@include default-transition(top);
	}

	&:hover>&__list {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		position: absolute;
		right: 0;
		top: 35px;
	}

	// .lang-menu__item

	&__item {}

	// .lang-menu__link

	&__link {
		display: inline-block;
		padding: 3px 0;
		font-size: 13px;
		@include default-transition(color);

		&:hover {
			color: $color-brand-1;
		}
	}
}

.header-option {
	min-width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-gray-light;
	font-size: 16px;
	cursor: pointer;
	@include default-transition(background-color);

	&:hover {
		background-color: $color-hover-2;
	}
}

.icon-location {}

.icon-email {}

.icon-arrow {}

.icon-fb {}

.icon-twitter {}

.icon-instagram {}

.icon-linkedin {}

.header-body {

	min-height: 100px;

	@media (max-width: $breakpoint768) {
		min-height: 50px;
	}

	// .header-body__logo 

	&__logo {
		@media (max-width:$breakpoint480) {
			display: none;
		}
	}

	// .header-body__container

	&__container {
		width: 100%;
		padding: 5px 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		gap: 50px;
		@media (max-width: $breakpoint992) {
			gap: 20px;
		}

		@media (max-width: $breakpoint768) {
			gap: 10px;
		}
	}

	// .header-body__options

	&__options {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;

		@media (max-width: $breakpoint768) {
			flex-direction: row-reverse;
		}
	}
}

.logo {}

.menu {
	// .menu__list

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 30px;
		row-gap: 5;

		@media (max-width: $breakpoint768) {
			position: absolute;
			top: -150%;
		}
	}

	// .menu__item

	&__item {}

	// .menu__link

	&__link {
		font-weight: 600;
		color: $color-black;
		@include default-transition(color);

		&:hover {
			color: $color-hover-1;
		}
	}

	// .menu__toggle

	&__toggle {
		display: none;
		width: 40px;
		height: 40px;
		padding: 5px 0;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: $breakpoint768) {
			display: flex;
		}

		span {
			display: block;
			width: 100%;
			height: 2px;
			background-color: $color-brand-1;
		}

	}
}

.header-search {
	display: flex;
	align-items: center;
	position: relative;

	// .header-search__button

	&__button {}

	// .header-search__input

	&__input {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		position: absolute;
		width: 0;
		font-size: 16px;
		line-height: 40px;
		background-color: $color-gray-light;
		@include default-transition(width, 0.5s);

		@media (max-width: $breakpoint768) {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			position: relative;
			width: 100%;
		}
	}

	&:hover>&__input {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		position: relative;
		width: 100%;
		max-width: 150px;
	}
}

.icon-search {}

.icon-cart {
	position: relative;

	span {
		display: block;
		width: 15px;
		height: 15px;
		position: absolute;
		right: 4px;
		top: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: $color-brand-1;
		font-size: 11px;
		color: $color-white;
		font-weight: 600;
	}
}