/* Base colors */

$color-brand-1: #76A713;
$color-brand-2: #FF6600;

$color-dark: #191D28;
$color-gray-lighter: #F8F8F8;
$color-gray-light: #EBEBEB;
$color-gray-neutral: #CCC;
$color-gray-dark: #AAA;
$color-gray-darker: #888;

$color-black: #000;
$color-white: #FFF;

/* Element colors */
$color-title-main: $color-dark;
$color-text-main: $color-gray-darker;
$color-btn-main: $color-brand-1;
$color-social-main: $color-gray-neutral;

$color-hover-1: $color-brand-1;
$color-hover-2: $color-brand-2;

$color-box-shadow: rgba(0, 0, 0, 0.1);